<!DOCTYPE html>

<html lang="en">
<head>
    <title>Student details form</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  
</head>
<body style="background-color:#e1fbfc">
<div class="container">
  <h2 style="text-align:center">Enter Student details</h2>
  <form class="form-vertical" action="/predict" method="POST">


  <div class="form-group">
      <label for="rollno">Roll Number:</label>
      <input type="text" class="form-control" id=" rollno" placeholder="Enter Roll Number" name="rollno" >
    </div>


    <div class="form-group">
      <label for="stname">Name:</label>
      <input type="text" class="form-control" id="stname" placeholder="Enter Student Name" name="stname" >
    </div>


    <div class="form-group">
      <label for="stclass">Class:</label>
      <input type="number" class="form-control" id="stclass" placeholder="Enter class of student" name="stclass" >
    </div>


    <div class="form-group">
      <label for="stschool">School:</label>
      <input type="text" class="form-control" id="stschool" placeholder="Enter school name" name="stschool" >
    </div>


    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" placeholder="Enter Age of the Student" name="age" required>
    </div>


    <div >
      <label for="gen">Gender: (Select 'M' - Male  , 'F' - Female  , 'O' - others )</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="gen" value="M">Male
    </label>
    <label class="radio-inline">
      <input type="radio" name="gen"value="F">Female
    </label>
    <label class="radio-inline">
      <input type="radio" name="gen" value="O">Others
    </label>
    </div>


    <div title="(student's home address type-'urban' or 'rural')"><br>
      <label for="atype">Address (Student's home address type):</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="atype" value='U'>URBAN
    </label>
    <label class="radio-inline">
      <input type="radio" name="atype" value='R'>RURAL
    </label>
    </div>
    <br>


    <div title='"LE3" - lesser or equal to 3 or "GT3" - greater than 3'>
    <label for="fsize">Family Size (Select "LE3" - lesser or equal to 3 or "GT3" - greater than 3):</label>
    &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="fsize" value="LE3">Lesser or Equal to 3 
    </label>
    <label class="radio-inline">
      <input type="radio" name="fsize" value="GT3">Greater than 3
    </label>
    </div>
    <br>

    <div title="parent's cohabitation status ('Yes' - living together or 'No' - apart)">
      <label for="pstat">Marital status of Parents :</label> &nbsp &nbsp
      <label class="radio-inline">
        <input type="radio" name="pstat" value='M'>M(Married)
      </label>
      <label class="radio-inline">
        <input type="radio" name="pstat" value='D'>D(Divorced)
      </label>
      <label class="radio-inline">
        <input type="radio" name="pstat" value='S'>S(Single Parent)
      </label>
      </div><br>


    <div title="Select Mother's Education based on the scale provided">
    <div class="form-group">
      <label for="medu">Mother's Education:</label>
      <select class="form-control" id="medu" name="medu" required>
        <option>CHOOSE A VALUE BASED ON MOTHER'S EDUCATION : 0 -none , 1 - primary Education(4th grade) , 2 - 5th to 9th grade ,3 - secondary education , 4 - higher education </option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    </div><br>

    
    <div title="Select Father's Education based on the scale provided">
    <div class="form-group">
      <label for="fedu">Father's Education:</label>
      <select class="form-control" id="fedu" name="fedu" required>
        <option>CHOOSE A VALUE BASED ON FATHER'S EDUCATION : 0 -none , 1 - primary Education(4th grade) , 2 - 5th to 9th grade ,3 - secondary education , 4 - higher education </option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    </div><br>
    

    <div title='(nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other"'>
    <div class="form-group">
      <label for="mjob">Mother's Job:</label>
      <select class="form-control" id="mjob" name="mjob" required>
        <option>SELECT AN OPTION</option>
        <option>Teacher</option>
        <option>Health</option>
        <option>Services</option>
        <option>at_home</option>
        <option>other</option>
      </select>
    </div>
    </div><br>


    <div title='(nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other"'>
    <div class="form-group">
      <label for="fjob">Father's Job:</label>
      <select class="form-control" id="fjob" name="fjob" required>
        <option>SELECT AN OPTION</option>
        <option>Teacher</option>
        <option>Health</option>
        <option>Services</option>
        <option>at_home</option>
        <option>other</option>
      </select>
    </div>
    </div><br>



    <div title='(nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other"'>
    <div class="form-group">
      <label for="reas">Reason:</label>
      <select class="form-control" id="reas" name="reas" required>
        <option> Reason to choose this school ( close to "home", school "reputation", "course" preference or "other")</option>
        <option>home</option>
        <option>reputataion</option>
        <option>course</option>
        <option>other</option>
      </select>
    </div>
    </div><br>


    <div title="student's guardian (nominal: 'mother', 'father' or 'other')">
    <label for="guard">Student's guardian :</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="guard" value="mother">mother
    </label>
    <label class="radio-inline">
      <input type="radio" name="guard" value="father">father
    </label>
    <label class="radio-inline">
      <input type="radio" name="guard" value="other">other
    </label>
    </div><br>



    <div title='Home to school travel time (numeric: 1 - less than 15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - greater than 1 hour)'>
    <div class="form-group">
      <label for="travel">Travel Time:</label>
      <select class="form-control" id="travel"name="travel" required>
        <option> Home to school travel time (numeric: 1 - less than 15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - greater than 1 hour)</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    </div><br>


    <div title='studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)'>
    <div class="form-group">
      <label for="stutime">Study Time:</label>
      <select class="form-control" id="stutime" name="stutime" required>
        <option> studytime - weekly study time (numeric: 1 - less than 2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - greater than 10 hours)</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    </div><br>


    <div title='failures - number of past class failures (numeric: n if 1<=n<3, else 4)'>
    <div class="form-group">
      <label for="fail">Past Failures</label>
      <select class="form-control" id="fail" name="fail" required>
        <option>failures - number of past class failures (numeric: if n < 4 enter "n", else enter 4 )</option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    </div><br>



    <div title="schoolsup - extra educational support (binary: yes or no)">
    <label for="ssup">Extra Educational Support :</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="ssup" value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="ssup" value="no">No
    </label>
    </div><br>


    <div title="famsup - family educational support (binary: yes or no)">
    <label for="fsup">Family Educational Support :</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="fsup" value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="fsup" value="no">No
    </label>
    </div><br>


    <div title="paid - extra paid classes within the course subject  (binary: yes or no)">
    <label for="excls">Extra Classes :</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="excls" value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="excls" value="no">No
    </label>
    </div><br>



    <div title="activities - extra-curricular activities (binary: yes or no)">
    <label for="exact">Extra Curricular activities :</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="exact" value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="exact" value="no">No
    </label>
    </div><br>



    <div title="nursery - attended nursery school (binary: yes or no)">
    <label for="nursery">Attended Nursery School :</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="nursery" value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="nursery" value="no">No
    </label>
    </div><br>


    
    <div title="higher - wants to take higher education (binary: yes or no)">
    <label for="higher">Interested for Higher Studies :</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="higher" value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="higher" value="no">No
    </label>
    </div><br>




    <div title="internet - Internet access at home ( yes or no)">
    <label for="internet"> Internet access at home :</label> &nbsp &nbsp
    <label class="radio-inline">
      <input type="radio" name="internet" value="yes">Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="internet" value="no">No
    </label>
    </div><br>




    <div title='family relations - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)'>
    <div class="form-group">
      <label for="famrel">Family relations </label>
      <select class="form-control" id="famrel" name="famrel" required>
        <option>Quality of family relationships (numeric: 1 - very bad, 2 - bad , 3 - average , 4 - Above average  5 - excellent)</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    </div><br>





    <div title='freetime - free time after school (numeric: from 1 - very low to 5 - very high)'>
    <div class="form-group">
      <label for="freetime">Free Time after School </label>
      <select class="form-control" id="freetime" name="freetime" required>
        <option>Numeric: 1 - very low, 2 - low , 3 - moderate , 4 - high  5 - very high</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    </div><br>



    <div title='Going out with friends (numeric: from 1 - very low to 5 - very high)'>
    <div class="form-group">
      <label for="goout">Going out with friends</label>
      <select class="form-control" id="goout" name="goout" required>
        <option>Numeric: 1 - very low, 2 - low , 3 - moderate , 4 - high  5 - very high</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    </div><br>


    <div title='Health Status (numeric: from 1 - very low to 5 - very high)'>
    <div class="form-group">
      <label for="hstatus">Health Status</label>
      <select class="form-control" id="hstatus" name="hstatus" required>
        <option>Numeric: 1 - very bad, 2 - bad , 3 - average , 4 - Good  5 - very Good</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    </div><br>

    <div title="Career Awareness (binary: yes or no)">
      <label for="cware">Career Awareness   : </label> &nbsp &nbsp
      <label class="radio-inline">
        <input type="radio" name="cware" value="yes">Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="cware" value="no">No
      </label>
      </div><br>

      <div title="Learning Rate (Text: Fast Learner or Slow Learner)">
        <label for="learn">Learning Rate  : </label> &nbsp &nbsp
        <label class="radio-inline">
          <input type="radio" name="learn" value="fast">Fast
        </label>
        <label class="radio-inline">
          <input type="radio" name="learn" value="slow">Slow
        </label>
        </div><br>

        
      <div title='Peer Interaction (numeric: from 1 - very low to 5 - very high)'>
        <div class="form-group">
          <label for="pint">Peer Interaction</label>
          <select class="form-control" id="pint" name="pint" required>
            <option>Numeric: 1 - very bad, 2 - bad , 3 - average , 4 - Good  5 - very Good</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        </div><br>

        <div title='Number of Schools changed (numeric: from 1 - very less to 4 - very high)'>
          <div class="form-group">
            <label for="schcha">Schoolschanged</label>
            <select class="form-control" id="schcha" name="schcha" required>
              <option>Numeric: 0-no change, 1 - 1 school change , 2 - 2 schools changed , 3 - 3 schools changed , 4 - more than 3 schools</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          </div><br>



    <div class="form-group">
      <label for="absence">Number of Absences:</label>
      <input type="number" class="form-control" id="absence" placeholder="Number of school absences (numeric: from 0 to 93)" name="absence">
    </div>
<br>


    <button style="margin-left: 45%;" class="btn  btn-success" type="submit" name="submit">PREDICT</button>
    <br><br>
  </form>
  <div class="row">
      {% if prediction=='yes' %}
      <script>alert("student Doesn't Require Intervention");</script> 
      {% elif prediction=='no' %}
      <script>alert("student is mostly likely a drop out.so,The student Requires Intervention");</script> 
      {% endif %}
  </div>
</div>
    
</body>
</html>


